<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new message</title>
    <link rel="stylesheet" href="/newMsgForm.css" />
  </head>
  <body>
    <form method="POST" action="/new" id="submitMsgForm">
      <h1>Submit Your Message!</h1>

      <label for="name"> <strong>Name:</strong> </label>
      <input type="text" id="name" name="name" placeholder="John Doe" />

      <label for="message"> <strong>Message:</strong> </label>
      <input id="message" name="message" placeholder="Hello world!" />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
