@import url("index.css");

a {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: 0.3s;
}

a:hover {
  color: blue;
}
