@import url("index.css");

.userDetails {
  gap: 0;
  align-items: flex-start;
}

.userDetails:hover {
  scale: 1;
}

.userDetails p:nth-child(2) {
  text-wrap: wrap;
  overflow: auto;
  font-size: 1.5rem;
}

.homeBtn {
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  border-radius: 0.5rem;
  border: 2px solid black;
  transition: 0.3s;
  text-decoration: none;
  color: black;
}

.homeBtn:hover {
  color: blue;
}
