@import url("index.css");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#submitMsgForm {
  margin: 2rem;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

#submitMsgForm > h1 {
  margin-bottom: 2rem;
}

#submitMsgForm > label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

#submitMsgForm > input {
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 0.8rem;
  color: blue;
}

#submitMsgForm > button {
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  border-radius: 0.5rem;
  border-color: black;
  border-bottom-style: inset;
  border-right-style: inset;
  transition: 0.3s;
}

#submitMsgForm > button:hover {
  color: blue;
}
