* {
  margin: 0;
  padding: 0;
}

main {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

li:not(li:nth-child(3)) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

li > span {
  border-bottom: 1px solid black;
}

.submitMsg {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  background-color: transparent;
  border-radius: 0.5rem;
  border-color: grey;
  border-bottom-style: inset;
  border-right-style: inset;
}

.submitMsg > a {
  text-decoration: none;
  color: black;
}
